* {
	border: 0px solid red;
}

a {
	text-decoration: none;
	color: #4c5760;
}

.header1 {
	color: #d7ceb2;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:  10px;
	margin:  20px;
	padding: 10px;
	background-color: #ecc48b;
	-webkit-text-stroke: 1px black;
}

body {
	background-color: #4c5760;
	/*color: #66635b;*/
	padding: 20px;
	margin: 2px;
}

.bodyko {
	background-color: #ecc48b;
	padding: 20px;
}

.list {
	background-color: #ecc48b;
	padding: 10px;
	margin-left: 20px;
	display: inline-block;
}

img {
	display: flex;
	margin: auto;
	height: 500px;
	width: 700px;
	justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h4 {
	color: #3c1414;
	-webkit-text-stroke: 1px black;
}

.inlist li {
	font-weight: bold;
}

.bodydesc {
	background-color: white;
	padding: 10px 25px;
	margin-top: 20px;
}