* {
	border: 2px solid red;
}

.header1 {
	color: #d7ceb2;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #4c5760;
	/*color: #66635b;*/
}

.list {
	background-color: #ecc48b;
	padding: 10px;
	margin-left: 20px;
	display: inline-block;
}

.imag {
	justify-content: center;
	width: 20px;
}