* {
	border: 0px solid red;
}

a {
	text-decoration: none;
}

.header1 {
	color: #d7ceb2;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:  10px;
	margin:  20px;
	padding: 10px;
}

body {
	background-color: #4c5760;
	/*color: #66635b;*/
	padding: 20px;
}

.bodyko {
	background-color: #ecc48b;
}

.list {
	background-color: #ecc48b;
	padding: 10px;
	margin-left: 20px;
	display: inline-block;
}

.imag {
	display: block;
	margin: auto;
	width: 700px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}