* {
	border: 0px solid red;
}

a {
	text-decoration: none;
	color: #4c5760;
}

.header1 {
	color: #d7ceb2;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:  10px;
	margin:  20px;
	padding: 10px;
	background-color: #ecc48b;
	-webkit-text-stroke: 1px black;
}

.bodyko {
	background-color: #ecc48b;
	padding: 20px;
}

img {
	display: flex;
	margin: auto;
	height: 500px;
	width: 700px;
	justify-content: center;
}

h4 {
	color: #3c1414;
	-webkit-text-stroke: 1px black;
}

.inlist li {
	font-weight: bold;
}

.bodydesc {
	background-color: white;
	padding: 10px 25px;
	margin-top: 20px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 10px;
}